.default {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--background);
}

.desktopOnly {
}

.tabletOnly {
    display: none;
}

.mobileOnly {
    display: none;
}

.notMobileOnly {
}

.content {
    display: flex;
    flex: 1;
    min-height: 0;
}

.main {
    flex: 1;
    min-height: 0;
    min-width: 0;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    flex: 1;
}

.horizontalTabs {
}

@media (max-width: 1023px) {
    .desktopOnly {
        display: none;
    }

    .tabletOnly {
        display: flex;
    }

    .content {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 639px) {
    .desktopOnly {
        display: none;
    }

    .tabletOnly {
        display: none;
    }

    .mobileOnly {
        display: flex;
    }

    .notMobileOnly {
        display: none;
    }

    .horizontalTabs {
        order: 10;
    }
}
