@use '@_app/styles/variables' as *;

.default {
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    background: var(--background);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.desktopOnly {
}

.tabletOnly {
    display: none;
}

.mobileOnly {
    display: none;
}

.notMobileOnly {
}

.content {
    display: flex;
    flex: 1;
    min-height: 0;
}

.main {
    flex: 1;
    min-height: 0;
    min-width: 0;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    flex: 1;
}

.horizontalTabs {
    display: none;
}

@include tablet {
    .horizontalTabs {
        display: block;
    }
    .desktopOnly {
        display: none;
    }

    .tabletOnly {
        display: flex;
    }

    .content {
        display: flex;
        flex-direction: column;
    }
}

@include mobile {
    .desktopOnly {
        display: none;
    }

    .tabletOnly {
        display: none;
    }

    .mobileOnly {
        display: flex;
    }

    .notMobileOnly {
        display: none;
    }

    .horizontalTabs {
        order: 10;
    }
}
