@use '@_app/styles/panels' as *;

.sidebar {
    @include panel(right);
    width: 220px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.navigation {
    // @include panel(bottom);
    // padding-bottom: 1rem;
    margin-bottom: auto;
    // margin-top: auto;
}

.title {
    @include panel(bottom);
    color: var(--muted-foreground);
    font-size: 0.7rem;
    letter-spacing: 0.15em;
    padding: 1rem 0 1rem 0.5rem;
}

.nav {
    flex: 1;
}

.hints {
    @include panel(top);
    padding: 1rem;
    font-size: 0.62rem;
    line-height: 1.9;
}

.hintKey {
    color: var(--accent);
}

.downloadButton {
    @include panel(top);
    padding: 1rem;

    button {
        width: 100%;
    }
    // margin: 0 0.5rem;
}
