@use '@_app/styles/panels' as *;

.tabs {
    @include panel(bottom);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: auto;
    flex-shrink: 0;

    &::-webkit-scrollbar {
        height: 0;
    }
}
