@use '@_app/styles/panels' as *;

.terminal {
    @include panel(top);
    padding: 0.875rem 2.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
}

.input {
    flex: 1;
}
