@use '@_app/styles/variables' as *;

.summary {
    margin-top: 0.5rem;
    border-left: 2px solid color-mix(in srgb, var(--primary) 30%, transparent);
    padding: 1rem 1.5rem;
    max-width: 56ch;
    color: var(--foreground);
    background: color-mix(in srgb, var(--primary) 10%, transparent);
}

.desc {
    line-height: normal;
}

@include tablet {
    .summary {
       padding: 0.8rem 1rem; 
    }
}
