@use "./layers";
@use "./variables" as *;
@use "./reset";
@use "./text";
@use "./effects";
@use "./branding";
@use "./scrollbar";

@layer base {
    * {
        font-family: var(--font-jetbrains-mono), monospace;
        color: white;
    }

    html {
        height: 100%;
        height: -webkit-fill-available;
    }

    body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: var(--background);
        font-family: var(--font-jetbrains-mono), monospace;
        font-size: var(--font-size);
    }

    #root {
        height: 100%;
    }
}
